<a href="https://colab.research.google.com/github/sahanakallem/Learn_Python_With_Me/blob/main/Python1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##Python Basics

In [1]:
name = "Sahana"
print(name)
# Remember that python is case-sensitive

Sahana

In [2]:
# When you have a long statement
Statement1 = 'This notebook helps with python basics.\
I will be glad if it helps.'
print(Statement1)

This notebook helps with python basics.I will be glad if it helps.

In [3]:
#Java uses { } for a block of statement. Unlike Java, python uses indentation for the same.

age = 12
if age<25:
  print(age)

12

In [6]:
# Use Semi-colon when you want to define multiple variables in the same line.
a = 1; b = 2; c = 3
d = a + b + c
print(d)

6

In [7]:
# Use the method "type" to check the type of the variable.
var1 = 1
var2 = "sahana"
var3 = 10.6
var4 = True
print(type(var1))
print(type(var2))
print(type(var3))
print(type(var4))

<class 'int'>
<class 'str'>
<class 'float'>
<class 'bool'>

In [8]:
# we get NameError when we run this cell.
# This is because bc is not defined before assigning it to ab.
# So, whenever you get this error, go back and check which variable isn't defined.
ab = bc
print(ab)

NameError: name 'bc' is not defined

In [9]:
age = 71
print('age :', age)

age : 71

In [12]:
# Use input to take input from users.

a = input('enter a :')
b = float(input('enter b :'))
print(a)
print(b)

enter a :5
enter b :6
5
6.0

## Lists
Lists are mutable i.e, they can be modified.

In [13]:
lst =[]
print(type(lst))

<class 'list'>

In [14]:
names = ['Sahana', 1, 2.6, True] # A list can hold multiple data types.
print(names)

['Sahana', 1, 2.6, True]

In [15]:
#It follows Zero based indexing i.e, the indexing starts with 0 from left to right: [0, 1, 2, 3]
# If we start from the back i.e, right to left the indexing will be: [-4, -3, -2, -1]
print(names[1])
print(names[-3])

1
1

In [16]:
# Slicing in lists; syntax - list[start: stop: step]
print(names[1:])
print(names[0:3:2])

[1, 2.6, True]
['Sahana', 2.6]

In [8]:
fruits = ['apple', 'banana', 'cherry']
print(fruits)

['apple', 'banana', 'cherry']

In [9]:
#Replacing
fruits[1] = 'mango'
print(fruits)

['apple', 'mango', 'cherry']

In [10]:
# Now see how adding a colon makes a huge difference.
fruits[1:] = 'mango'
print(fruits)
# this happens because in python strings are completely iterable.

['apple', 'm', 'a', 'n', 'g', 'o']

In [11]:
fruits[0:] = 'guava'
print(fruits)
# This is called an exploded list

['g', 'u', 'a', 'v', 'a']

In [12]:
# Inserting without replacing
fruits.insert(2, 'apple')
print(fruits)

['g', 'u', 'apple', 'a', 'v', 'a']

In [13]:
fruits.insert(4, 'watermelon')
print(fruits)

['g', 'u', 'apple', 'a', 'watermelon', 'v', 'a']

In [14]:
fruits.insert(5, 'apple')
print(fruits)

['g', 'u', 'apple', 'a', 'watermelon', 'apple', 'v', 'a']

In [15]:
# Removes only first occurence
fruits.remove('apple')

In [22]:
print(fruits)

['g', 'u', 'a', 'watermelon', 'apple', 'v']

In [17]:
# pop removes the last element and gives us
fruits2 = fruits.pop()
print(fruits2)

a

In [19]:
print(fruits.index('watermelon'))

3

In [23]:
# Append adds at the end of the list
fruits.append('a')
print(fruits.count('a'))

2

In [24]:
print(fruits)

['g', 'u', 'a', 'watermelon', 'apple', 'v', 'a']

In [26]:
# Sorting the list in ascending order
fruits.sort()
print(fruits)

['a', 'a', 'apple', 'g', 'u', 'v', 'watermelon']

In [27]:
fruits.reverse()
print(fruits)

['watermelon', 'v', 'u', 'g', 'apple', 'a', 'a']

In [29]:
fruits.clear()
print(fruits)

[]

#List Comprehension
Creating an entire list based on some logic, rule or any linear syntax.

In [1]:
# Normal way to create a list
lst = []
for i in range(6):
  lst.append(i**2)

print(lst)

[0, 1, 4, 9, 16, 25]

In [2]:
# List comprehension
sqr = [i**2 for i in range(6)]
print(sqr)

[0, 1, 4, 9, 16, 25]

In [4]:
# square roots with list comprehension
import math
sqroot = [math.sqrt(i) for i in range(6)]
print(sqroot)

[0.0, 1.0, 1.4142135623730951, 1.7320508075688772, 2.0, 2.23606797749979]

# Nested List

In [5]:
matrix = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
print(matrix)

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [6]:
matrix2 = [[i*j for j in range(1,6)] for i in range(1, 6)]
print(matrix2)

[[1, 2, 3, 4, 5], [2, 4, 6, 8, 10], [3, 6, 9, 12, 15], [4, 8, 12, 16, 20], [5, 10, 15, 20, 25]]