<a href="https://colab.research.google.com/github/sahanakallem/Learn_Python_With_Me/blob/main/Loops_file_handling.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Check the most common element in the list

In [11]:
from collections import Counter

lst = [1, 2, 2, 3, 3, 3, 4, 4, 4, 4]
most_common_element = Counter(lst).most_common(1)[0][0]

print(most_common_element)  # Output: 4
# Counter(lst).most_common(1) returns a list of tuples with the most common element and its count.
#[0][0] extracts the element itself.

4

Check whether given words are anagrams. (eg: silent and listen are anagrams)

In [1]:
def are_anagrams(str1, str2):
  return sorted(str1) == sorted(str2)
# The above method is simple and effective
print(are_anagrams("listen", "silent"))
print(are_anagrams("hello", "hii"))

True
False

In [3]:
from collections import Counter
# Using counter is more optimized and works best for longer strings
def are_anag(str1, str2):
  return Counter(str1) == Counter(str2)

print(are_anag("star", "rats"))

True

In [1]:
data = [("fruit", "apple"), ("fruit", "banana"), ("vegetable", "carrot"), ("vegetable", "spinach"), ("fruit", "cherry")]
grouped_data = {}
for category, item in data:
  grouped_data.setdefault(category, set()).add(item)
print(grouped_data)

{'fruit': {'apple', 'banana', 'cherry'}, 'vegetable': {'spinach', 'carrot'}}

##Operators

Arithmetic operators

In [2]:
a = 10
b = 5
print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a**b) # exponent
print(a//b) #Floor division - rounding upto the nearest integer
print(a%b) # modulus - remainder

15
5
50
2.0
100000
2
0

Comparision operators

In [3]:
print(a == b ) # Equals to
print(a != b) # Not equals to
print(a > b) # greater than
print(a < b) # less than
print(a >= b)
print(a <= b)

False
True
True
False
True
False

Logical operators

In [4]:
a = True
b = False
print(a and b)
print(a or b)
print(not b)

False
True
True

Conditional statements

In [6]:
age = 21
if age < 13:
  print("You are a kid")
elif age < 20:
  print("you are a teenager")
else:
  print("You are an adult")

You are an adult

In [7]:
num = int(input('enter a number'))
if num > 0:
  print('positive')
  if num%2 == 0:
    print('its an even number')
  else:
    print("its an odd number")
else:
  print("the number is 0 or negative")

enter a number-1
the number is 0 or negative

##Loops

In [9]:
for i in range(5, 20, 2):
  print(i)

5
7
9
11
13
15
17
19

In [10]:
count = 0
while count<5:
  print(count)
  count = count+1

0
1
2
3
4

In [11]:
for num in range(10):
  if num ==5:
    break
  print(num)

0
1
2
3
4

In [14]:
for num in range(1, 101):
  if num > 1:
    for i in range(2, num):
      if num % i == 0:
        break
    else:
      print(num)
# In Python, a for loop can have an else block.
# The else block runs only if the for loop completes all iterations
# without hitting a break statement.

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97

In [15]:
name = "sahana"
grade = "A"
print("My name is {} and My grade is {}".format(name, grade))

My name is sahana and My grade is A

In [16]:
print("I have an {1} and a {0}".format('MacBook', 'iPad'))

I have an iPad and a MacBook

In [17]:
# This is just like a placeholder
print("My fav fruit is {fruit} and my fav car is {car}".format(fruit = "Kiwi", car = "Jaguar"))

My fav fruit is Kiwi and my fav car is Jaguar

In [19]:
pi = 3.141592
print("value of pi upto 3 decimals is {:.3f}".format(pi))

value of pi upto 3 decimals is 3.142

In [20]:
# To split any string into a list
s = "Hello there! how are you?"
print(s.split())

['Hello', 'there!', 'how', 'are', 'you?']

##Functions

In [21]:
#Syntax
def function_name(parameters):
  return answer

In [1]:
def even_or_odd(num):
  if num%2 == 0:
    print('even')
  else:
    print('odd')

even_or_odd(10) #Calling the function for num = 10

even

##Lambda Functions
Syntax-
lambda arguments: expression

In [2]:
addition = lambda a,b : a+b
print(addition(2, 9))

11

##Map Function

In [3]:
nums = [1, 2, 3, 4, 5]
list(map(lambda x:x**2, nums))

[1, 4, 9, 16, 25]

In [5]:
num1 = [1, 2, 3]
num2 = [4, 5, 6]
num_add = list(map(lambda x, y: x+y, num1, num2))
print(num_add)

[5, 7, 9]

In [6]:
def get_name(person):
  return person['name']

people = [{'name':'Sahana', 'age':67},
          {'name':'Sreeja', 'age':77}]

list(map(get_name, people))

['Sahana', 'Sreeja']

##Filter Functions

In [7]:
def even(num):
  if num%2 == 0:
    return True
lst = [ 1, 2, 3,4 ,5 , 6, 7, 8, 9]

In [8]:
list(filter(even, lst))

[2, 4, 6, 8]

In [10]:
print(list(filter(lambda x : x>3 and x%2 ==0, lst)))

[4, 6, 8]

##File Handling

In [4]:
with open("example.txt", "r") as file:
  content = file.read()
  print(content)

This is an example file.
Just to try file handling.

In [5]:
with open("example.txt", "r") as file:
  line = file.readline()
  #print(line)
  for line in file:
    print(line.strip()) # removes spaces before and after each line.

Just to try file handling.

In [6]:
with open("example.txt", "r") as file:
  lines = file.readlines()
  print(lines)

['This is an example file.\n', 'Just to try file handling.']

In [7]:
with open("example.txt", "w") as file:
  file.write("hello there!")
  file.write("56\n")
  file.write("347")

In [8]:
with open("example.txt", "r") as file:
  content = file.read()
  print(content)

hello there!56
347

In [9]:
with open("example.txt", "a") as file:
  file.write("Hii class!\n")
  file.write("morning")

In [10]:
with open("example.txt", "r") as file:
  content = file.read()
  print(content)

hello there!56
347Hii class!
morning

In [11]:
lines = ["first\n", "second\n", "third\n"]
with open("example.txt", "a") as file:
  file.writelines(lines)

In [12]:
with open("example.txt", "r") as file:
  content = file.read()
  print(content)

hello there!56
347Hii class!
morningfirst
second
third

##File Path

In [13]:
import os
cwd = os.getcwd() # CWD- current working directory
print(f"cwd is {cwd}")

cwd is /content

In [ ]:
newdir = 'mydir'
os.mkdir(newdir)

In [15]:
newdir = 'mydir1'
os.mkdir(newdir)
print(f'New directory {newdir} created')

New directory mydir1 created

In [16]:
items = os.listdir('.') #Everything in the listdir will be given
print(items)

['.config', 'mydir1', 'example.txt', 'mydir', 'sample_data']

In [17]:
# Path joining
dir_name = 'mydir'
file_name = 'example.txt'
full_path = os.path.join(dir_name, file_name)
print(full_path)

mydir/example.txt

In [18]:
print(os.path.join(os.getcwd(), dir_name, file_name))

/content/mydir/example.txt