<a href="https://colab.research.google.com/github/sahanakallem/Learn_Python_With_Me/blob/main/Tuples_and_sets.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Tuples
They are ordered collection of items. Tuples are immutable.

In [ ]:
tuple1 = ()
print(tuple1)
print(type(tuple1))

()
<class 'tuple'>

In [ ]:
lst = [1, 2, 3, 4]
print(lst)

[1, 2, 3, 4]

In [ ]:
tup1 = tuple(lst)
print(tup1)

(1, 2, 3, 4)

In [ ]:
t2 = ("Hii", "this", "is", "Sahana")
concat_tup = tup1+t2
print(concat_tup)

(1, 2, 3, 4, 'Hii', 'this', 'is', 'Sahana')

In [ ]:
print(t2 * 2)

('Hii', 'this', 'is', 'Sahana', 'Hii', 'this', 'is', 'Sahana')

In [ ]:
print(t2.count("Hii"))
print(t2.index("is"))

1
2

In [ ]:
# Observe what the * is doing in the following 3 code cells.
t = (1, 2, 3, 4, 5 ,6 ,7, 8, 9)
first, *middle, last = t
print(first)
print(middle)
print(last)

1
[2, 3, 4, 5, 6, 7, 8]
9

In [ ]:
t = (1, 2, 3, 4, 5 ,6 ,7, 8, 9)
*first, middle, last = t
print(first)
print(middle)
print(last)

[1, 2, 3, 4, 5, 6, 7]
8
9

In [ ]:
t = (1, 2, 3, 4, 5 ,6 ,7, 8, 9)
first, middle, *last = t
print(first)
print(middle)
print(last)

1
2
[3, 4, 5, 6, 7, 8, 9]

In [ ]:
t3 = ([1, 2, 3, 4], [5, 6, 7, 8],('hello', 'UB'))
result = [t3[0][1], t3[1][2], t3[2][1]]
print(result)

[2, 7, 'UB']

##Dictionaries
They are unordered collection of items. It stores data in the form of key-value pairs. Keys must be unique and immutable. DICTIONARIES ARE **MUTABLE**

In [ ]:
dict1 = {}
print(type(dict1))

<class 'dict'>

In [ ]:
student = {'name': 'Sahana', 'id' : 12, 'grade': 'A'}
print(student)

{'name': 'Sahana', 'id': 12, 'grade': 'A'}

In [ ]:
print(student['grade'])
print(student.get('name'))

A
Sahana

In [ ]:
del student['grade']
print(student)

{'name': 'Sahana', 'id': 12}

In [ ]:
print(student.keys())
print(student.values())

dict_keys(['name', 'id'])
dict_values(['Sahana', 12])

In [ ]:
student2 = student.copy()
print(student2)

{'name': 'Sahana', 'id': 12}

In [ ]:
#Dictionaries inside list
students = [{'name': 'Sahana', 'id': 12}, {'name': 'Sreeja', 'id': 11}]
print(students)

[{'name': 'Sahana', 'id': 12}, {'name': 'Sreeja', 'id': 11}]

In [ ]:
#Sorting and merging
dict1 = { 'a': 10, 'b':20, 'c': 13}
dict2 = { 'b': 10, 'c':20, 'a': 13, 'd': 67}
merged_dict = {key:dict1.get(key,0)+dict2.get(key,0) for key in set(dict1)|set(dict2)}
print(merged_dict)

{'b': 30, 'a': 23, 'd': 67, 'c': 33}

In [ ]:
#merging2 = [dict1.items() + dict2.items()]
merging2 = [dict1.items(), dict2.items()]
print(merging2)

[dict_items([('a', 10), ('b', 20), ('c', 13)]), dict_items([('b', 10), ('c', 20), ('a', 13), ('d', 67)])]

In [ ]:
data = {'person': {'name':'Sahana', 'age' : '23', 'location': {'city': 'New York', 'country': 'USA'}}}
flat_dict = {'name':data['person']['name'], 'age': data['person']['age']}
print(flat_dict)

{'name': 'Sahana', 'age': '23'}

In [ ]:
employees = [{'name':'Bob', 'Department':'IT'},
             {'name':'Alice', 'Department':'HR'},
             {'name':'Charlie', 'Department':'IT'},
             {'name':'David', 'Department':'HR'}
]
# {'HR': ['Alice', 'David], 'IT' : ['Bob', 'Charlie']}

In [ ]:
x = []
y = []
group = {}
for employee in employees:
  if employee['Department'] == 'HR':
    x.append(employee['name'])
  else:
    y.append(employee['name'])
group['HR'] = x
group['IT'] = y
print(group)

{'HR': ['Alice', 'David'], 'IT': ['Bob', 'Charlie']}

In [ ]:
#Easy way to do it:
grouped = {}
for employee in employees:
  grouped.setdefault(employee['Department'],[]).append(employee['name'])
print(grouped)

{'IT': ['Bob', 'Charlie'], 'HR': ['Alice', 'David']}

##Sets
They only store unique items. Sets are ordered. Even though our input is unordered, the result will be in ascending order y default

In [ ]:
set1 = {1, 2, 3, 4}
print(set1)
print(type(set1))

{1, 2, 3, 4}
<class 'set'>

In [ ]:
set1 = set([1, 2, 5, 5, 3, 4])
print(set1)

{1, 2, 3, 4, 5}

In [ ]:
set1.add(1.5)
print(set1)

{1, 2, 3, 4, 5, 1.5}

In [ ]:
set1.remove(1.5)
print(set1)

{1, 2, 3, 4, 5}

In [ ]:
set1.pop()

1

In [ ]:
print(set1)

{2, 3, 4, 5}

In [ ]:
set1.clear()
print(set1)

set()

In [ ]:
set1 = {1, 2, 3, 4, 6, 6, 7}
print(3 in set1)

True

In [ ]:
set2 = { 11, 12, 13, 14, 15, 16, 17}
union_set = set1.union(set2)
print(union_set)

{1, 2, 3, 4, 6, 7, 11, 12, 13, 14, 15, 16, 17}

In [ ]:
inter_set = set1.intersection(set2)
print(inter_set)

set()

In [ ]:
print(set1.difference(set2))
print(set2.difference(set1))

{1, 2, 3, 4, 6, 7}
{11, 12, 13, 14, 15, 16, 17}

In [ ]:
# Symmetric difference eliminates what ever is common
set1 = { 1, 2, 3, 4}
set2 = {2, 4, 5, 6, 7}
print(set1.symmetric_difference(set2))
# For symmetric difference between more than 2 sets: set1 ^ set2 ^ set3....

{1, 3, 5, 6, 7}

In [ ]:
set1 = {1, 2, 3, 4, 5, 6}
set2 = {4, 5, 6, 3, 4, 2}
set3 = {7, 8, 9, 7, 2, 9}
print(set1 ^ set2 ^ set3)

{1, 2, 7, 8, 9}

In [ ]:
from functools import reduce
print(reduce(set.symmetric_difference, [set1, set2, set3]))

{1, 2, 7, 8, 9}

In [ ]:
set4 = {1, 2, 4}
print(set4.issubset(set1)) #Is set4 a subset of set1?
print(set4.issuperset(set1))

True
False

In [1]:
statement = 'I need my coffee before my breakfast'
words = statement.split()
unique_words = set(words)
print(len(unique_words))

6

## Understand the Difference

In [2]:
#the statement below creates an empty dictionary and not a set.
s = {}
print(type(s))

<class 'dict'>

In [3]:
s = set()
print(type(s))

<class 'set'>

In [4]:
s = ()
print(type(s))

<class 'tuple'>

In [5]:
s = []
print(type(s))

<class 'list'>